@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


#root {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  height: fit-content;
  /* scrollbar; */
  
}

.aboutgrid {
  grid-template-areas: 
    "title title title"
    "bleft cont bright";
}
  
@media (width <= 768px) {
  .aboutgrid {
    grid-template-areas: 
    "title title"
    "cont cont"
    "bleft bright";
  }
}

button {
  transition: 0.1s;

  &:hover {
    transition: 0.1s;
    transform: scale(1.05);
  }
}

/* Style scroolbar */

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(136, 136, 136, 0.5);
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(85, 85, 85, 0.5);
}