@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


#root {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  height: fit-content;
  /* scrollbar; */

}

/* ONLY FOR TEST SPACES IN COMPONENTS*/
@layer components {
  .test {
    border: 2px solid red;
  }
}

.aboutgrid {
  grid-template-areas:
    "title title title"
    "bleft cont bright";
}

@media (width <=768px) {
  .aboutgrid {
    grid-template-areas:
      "title title"
      "cont cont"
      "bleft bright";
  }
}

button,
label {
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
    transform: scale(1.03);
  }
}

/* Style scroolbar */

*::-webkit-scrollbar {
  width: 0;
}


input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #7f6afc;
  /*  slider progress trick  */
  box-shadow: 0 22rem 0 22rem #7f6afc;
}

textarea {
  resize: none;
  field-sizing: content;
}